<div id="post"></div>
<script>
   React.createComponent(PostComponent, {
      post: <%= @post %>,
      username: <%= @poster %>,
      root: <%= root_path %>,
      subreddit: <%= @subreddit %>
   }),
   document.getElementById("post")
</script>


<div class="comment-list"></div>
<script>
    React.createComponent(CommentListComponent, {
      collection: <%= @collection %>
      root: <%= root_path %>
    }),
    document.getElementById("comment-list")
</script>

