<!DOCTYPE html>
<html>
  <head>
    <title>Seddit</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <script src="assets/bundle.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="nav-bar"></div>
    <script>
      React.render(
          React.createElement(NavbarComponent, {
            user_signed_in: <%= user_signed_in? %>,
            root_path: <%= root_path %>,
            new_user_session_path: <%= new_user_session_path %>,
            destroy_user_session_path: <%= destroy_user_session_path %>,
            edit_user_registration_path: <%= edit_user_registration_path %>,
            current_user_username: <%= (current_user.username if user_signed_in?) %>,
            current_user_email: <%= (current_user.email if user_signed_in?) %>,
            subreddits: <%= subreddits %>
          }),
          document.getElementById("nav-bar")
        );
    </script>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!-- <%= debug(params) if Rails.env.development? %> -->
    </div>
  </body>
</html>
